In [11]:
import warnings
import logging

import matplotlib.pyplot as plt
import seaborn as sns
import pandas

from ranking import predict_2024_ranking
from model import fit_predict

%matplotlib inline
%config InlineBackend.figure_format = "retina"

sns.set(rc={"figure.figsize" : (25, 15)})
sns.set(font_scale=2)
sns.set_style("ticks")

warnings.simplefilter("ignore", FutureWarning)

logging.getLogger("prophet").setLevel(logging.WARNING)
logging.getLogger("cmdstanpy").disabled = True

In [7]:
df = pandas.read_csv("NHL_API_point_totals_by_team_season_raw_1996-2003.csv")
ranks_2024 = predict_2024_ranking()

In [8]:
team = "NJD"
(eval_df, forecast_df) = fit_predict(df[df["team"] == team], ranks_2024[team])

chain 1 |          | 00:00 Status

chain 2 |          | 00:00 Status

chain 3 |          | 00:00 Status

chain 4 |          | 00:00 Status

chain 1 |          | 00:00 Status

chain 2 |          | 00:00 Status

chain 3 |          | 00:00 Status

chain 4 |          | 00:00 Status

In [9]:
eval_df

,ds,yhat_lower,yhat,yhat_upper,y,points_rank,lag1,lag2,lag3
0,2023-05-01,83.229192,112.36797,142.932007,112,3,63.0,45.0,68.0

In [10]:
forecast_df

          ds  yhat_lower       yhat  yhat_upper  lag1  lag2  lag3  points_rank
0 2024-05-01   51.152769  78.489766  108.529036   112  63.0  45.0         18.0