In [2]:
import warnings

import matplotlib.pyplot as plt
import seaborn as sns
import pandas
import numpy as np
from scipy.stats import norm

%matplotlib inline
%config InlineBackend.figure_format = "retina"

sns.set(rc={"figure.figsize" : (25, 15)})
sns.set(font_scale=2)
sns.set_style("ticks")

warnings.simplefilter("ignore", FutureWarning)  # ignore some seaborn warnings until they update numpy

In [14]:
df = pandas.read_csv("NHL_API_point_totals_by_team_season_raw_1996-2003.csv")
sea_df = df[df["team"] == "SEA"].copy()
sea_df

    team  season_end  total_points  points_rank
798  SEA        2022            60           30
830  SEA        2023           100           12

In [25]:
df = df[df["team"] != "SEA"].copy().sort_values(by=["team", "season_end"])

In [26]:
df["next_season_points"] = df.groupby(["team"])["total_points"].shift(-1)
df["next_next_season_points"] = df.groupby(["team"])["next_season_points"].shift(-1)

In [27]:
df

,team,season_end,total_points,points_rank,next_season_points,next_next_season_points
20,ANA,1996,78,17,85.0,65.0
46,ANA,1997,85,9,65.0,83.0
73,ANA,1998,65,23,83.0,83.0
100,ANA,1999,83,14,83.0,66.0
128,ANA,2000,83,20,66.0,69.0
...,...,...,...,...,...,...
687,WSH,2019,104,4,90.0,77.0
718,WSH,2020,90,5,77.0,100.0
749,WSH,2021,77,6,100.0,80.0
780,WSH,2022,100,13,80.0,NaN
812,WSH,2023,80,24,NaN,NaN

In [38]:
likely_df = df.query('total_points >= 55 & total_points <= 64 & next_season_points >= 95 & next_season_points <= 104')
likely_df

,team,season_end,total_points,points_rank,next_season_points,next_next_season_points
759,DAL,2021,60,16,98.0,108.0
517,LAK,2013,59,8,100.0,95.0
521,MIN,2013,55,17,98.0,100.0
500,MTL,2013,63,4,100.0,110.0
752,NSH,2021,64,13,97.0,92.0
495,NYR,2013,56,14,96.0,113.0
316,PHI,2007,56,30,95.0,99.0

In [39]:
nn_mean = likely_df["next_next_season_points"].mean()
nn_mean

102.42857142857143

In [40]:
nn_std = likely_df["next_next_season_points"].std()
nn_std

7.976154939508611

In [41]:
# now for a 95% "prediction" interval
interval = 1.96 * nn_std
lower, upper = nn_mean - interval, nn_mean + interval
(lower, upper)

(86.79530774713456, 118.0618351100083)

In [42]:
interval

15.633263681436876